<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763418023949-sdnpt39uk4lsspkpmk4q9ra22lf1217l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763418023949-sdnpt39uk4lsspkpmk4q9ra22lf1217l</string>
	<key>API_KEY</key>
	<string>AIzaSyD3velbnf6XDolkKy7Rk1nlGN6pIkDXQCs</string>
	<key>GCM_SENDER_ID</key>
	<string>763418023949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>live.dgsa.app</string>
	<key>PROJECT_ID</key>
	<string>demofirebase-78ea8</string>
	<key>STORAGE_BUCKET</key>
	<string>demofirebase-78ea8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763418023949:ios:f01efebb987bf94d85dd44</string>
</dict>
</plist>